“全運聚力‧社區消費大獎賞”活動（以下簡稱“本活動”）是由澳門中華總商會、經濟及科技發展局、
澳門金融管理局共同主辦，由螞蟻銀行（澳門）股份有限公司、中國銀行（澳門）股份有限公司、廣發銀
行股份有限公司澳門分行、中國工商銀行（澳門）股份有限公司、澳門國際銀行股份有限公司、澳門通股
份有限公司、大豐銀行股份有限公司、澳門極易付股份有限公司承辦（以下簡稱“承辦單位”）的一項電
子支付消費獎賞活動。
任何人如果選擇參與是次活動，則表示已理解並同意本活動的下述條款及細則並受其約束：
1. 活動由 2025 年 9 月 1 日 00:00 開始，截至 2025 年 11 月 30 日 23:59 結束（以下簡稱“活動期間”）。
2. 活動參加者（以下簡稱“參加者”）須滿足下述條件：
1） 承辦單位已實名認證的用戶（以各承辦單位的活動條款及細則為準）；及
2） 登入承辦單位移動支付工具的活動頁面，勾選同意相關的隱私權政策及“同意活動細則”方格以
完成登記，即表示同意及知悉其個人資料及交易資料因參與此活動而被披露，及向第三方機構傳
輸及使用。
3. “電子優惠”抽獎活動玩法：
1） 參加者於活動期間的周一 00:00 至周五 23:59，於全澳合資格商戶*使用承辦單位移動支付工具進
行消費且單筆消費金額滿 50 澳門元或以上，即可於活動頁面內抽“電子優惠”3 次，“電子優惠”
的面值為 10、20、50、100 或 200 澳門元。每實名認證用戶每周（周一至周五）限抽“電子優惠”
3 次，而有關抽獎並不保證百分之百中獎。
* 註：以下貨品服務及場景均不可獲得抽獎機會：自來水、電力、天然氣、燃料、電訊及視聽服
務、公共部門及公共機構提供的服務、線上交易及網上平台（除外賣店或獲經濟及科技發展局批
准者外）。
2） 以上第 3.1）中“單筆消費滿 50 澳門元或以上”的金額，以消費者實際支付金額作計算（以訂單
金額扣減由商戶及支付機構提供的優惠後之自資消費金額作計算）。
3） “電子優惠”的抽獎次數以下列周期作計算單位。參加者需於當周使用已獲取的抽獎次數，逾期
未使用的抽獎次數將清零。每周消費抽獎及清零時間如下：
周 周活動時間 清零時間
1 2025/09/01 00:00 – 2025/09/05 23:59 2025/09/06 00:00
2 2025/09/08 00:00 – 2025/09/12 23:59 2025/09/13 00:00
3 2025/09/15 00:00 – 2025/09/19 23:59 2025/09/20 00:00
4 2025/09/22 00:00 – 2025/09/26 23:59 2025/09/27 00:00
5 2025/09/29 00:00 – 2025/10/03 23:59 2025/10/04 00:00
6 2025/10/06 00:00 – 2025/10/10 23:59 2025/10/11 00:00
7 2025/10/13 00:00 – 2025/10/17 23:59 2025/10/18 00:00
8 2025/10/20 00:00 – 2025/10/24 23:59 2025/10/25 00:00
9 2025/10/27 00:00 – 2025/10/31 23:59 2025/11/01 00:00
10 2025/11/03 00:00 – 2025/11/07 23:59 2025/11/08 00:00
“全運聚力‧社區消費大獎賞”活動條款及細則
2 / 3
周 周活動時間 清零時間
11 2025/11/10 00:00 – 2025/11/14 23:59 2025/11/15 00:00
12 2025/11/17 00:00 – 2025/11/21 23:59 2025/11/22 00:00
13 2025/11/24 00:00 – 2025/11/28 23:59 2025/11/29 00:00
4） “電子優惠”須於獲得後緊接的周六及周日於指定商戶**依據使用條款進行核銷（具體可使用時
間同時亦視乎用戶選擇的商家營業時間而定），逾期無效。
** 註：指定商戶所指範圍為於線下在澳門設置實體門店之合資格商戶，但以下貨品服務及場景
均不適用於本次活動範圍：自來水、電力、天然氣、燃料、電訊及視聽廣播服務、跨境交通服務、
境外旅遊服務、醫療服務、公共部門及公共機構提供的服務、博彩活動場所、銀行、保險公司及
其他金融機構、當押舖、大型連鎖超市、物業管理公司、教育機構、停車場、的士、線上消費平
台、以及位於大型綜合旅遊休閒企業設施內的商戶。最終解釋權及決定權歸活動主辦單位所有。
4. 參加者在本活動中所獲得的“電子優惠”抽獎次數，僅自參加者成功登記活動起計算。參加者可用的抽
獎次數，均以活動系統內的記錄為準。
5. 參加者在本活動中獲得的“電子優惠”，可於活動頁面內“我的獎品”頁查詢。“電子優惠”不可轉換、
轉讓或兌換現金。如已核銷，恕不補發；如有退貨或退款，“電子優惠”所對應的相關優惠金額將不予
退回。活動單位保留處理該“電子優惠”的最終決定權。
6. “每周抽獎”活動玩法：
1） 參加者在活動期內的周六、周日於以上第 3.4）所指的指定商戶以承辦單位的移動支付工具進行消
費且單筆消費金額滿 50 元或以上（不論有否核銷電子優惠），即可獲得“每周抽獎”抽獎機會，
並自動參加當周的抽獎，每一參加者每周可於每個承辦單位移動支付工具獲一次的抽奬機會。
2） 以上第 6.1）中“單筆消費滿 50 澳門元或以上”的金額，以消費者實際支付金額作計算（以訂單
金額扣減倘有的電子優惠、由商戶及支付機構提供的優惠後之自資消費金額作計算）。
3） 具體規則及獎品由主辦單位另行公佈。得獎者將由專人通知領獎事宜。得獎者必須於指定領獎期
限內到指定地點領獎。領獎期限內未完成相關手續之得獎者，視同放棄得獎權利。
7. 為確認“每周抽獎”得獎者身份，主辦單位及活動單位有權要求得獎者出示身份證明文件以作核對，並
有權記錄其姓名及身份證明文件號碼以作保留記錄用途。得獎者有可能會被要求拍照，主辦單位及活動
單位擁有將照片用作公佈得獎結果及市場推廣的權利。
8. 主辦單位及活動單位承諾收集的個人資料僅用於是次活動以及有關使用和處理受第 8/2005 號法律《個
人資料保護法》約束。
9. 活動單位概不負責因通訊或接收器材突發故障、任何電訊公司之通訊或技術問題、其他第三方之故障、
商戶自身原因導致數據未能上傳、意外等不可抗力之原因影響本活動運作，而致使參加者未能參加活動
所造成的任何損失。
“全運聚力‧社區消費大獎賞”活動條款及細則
3 / 3
10. 參加者同意免除活動單位承擔參加者因參加本活動而引致之任何傷害、損失、申索、訴訟及其他的法律
責任。
11. 如活動單位發現任何實際或可疑證據，顯示參加者使用或教唆他人使用不正當或欺詐方法造成本活動受
到干擾、產生技術難題或故障，或參加者盜用他人的個人資料參加活動，或存在惡意下單，利用程序漏
洞等任何危害、破壞、影響本活動的行為，活動單位有權廢除該參加者的活動參與資格、追討損失及保
留追究的權利。
12. 活動單位並非產品或者服務供應商，故此不會就有關產品或者服務承擔任何責任。
13. 活動單位有權隨時修改條款及細則、更改或終止活動，無須另行通知，亦恕不承擔任何有關優惠或條款
更改或終止所引起的責任。
14. 本條款及細則受澳門特別行政區法律規管，並按其詮釋。
15. 參加者如對活動內容有任何查詢，請撥打活動查詢熱線 2857 5472 / 2857 5439。
16. 如有任何爭議，主辦單位及活動單位保留對本活動的最終解釋及決定權。